<!-- templates/project.html -->

<div class="project__title">
	<div class="project__title__cluster">
		<img src="{{projectTitleImage}}" />
		<hr>
		<h3>{{skills}}</h3>
	</div>
</div>
<div class="project__contents parralax__group">
	<div class="project__background parallax__layer--back" style="background-image: url({{projectImage}}); {{projectImageTweak}}"></div>
	<div class="project__screenshots project__screenshots--{{id}}" style="top: {{top}}; height: {{height}}; background-color: {{bg}} !important;">
		<div class="project__screenshots__constrictor">

			{{#projectContents}}
			<div class="project__screenshot {{format}}" style="{{tweak}}">
				<img src="{{src}}" />
				<h4>{{headline}}</h4>
				<p>{{text}}</p>
			</div>
			{{/projectContents}}
		</div>
	</div>
	<div class="project__footer">
		<span class="project__next">Next</span>
		<h5>{{nextName}}</h5>
		<button class="project__footer__next-button">Go</button>
	</div>
</div>
